/* Write your CSS code here */

.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-grow: 1;
}

.img {
  width: 50%;
  max-width: 250px;
}

.title {
  color: #6d396b;
  font-size: 30px;
  font-weight: 550;
}
